.container {
  background-color: rgb(245, 246, 249);
  height: 100vh;
  width: 100vw;
  overflow: aut0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.notice {
  width: 100%;
  background-color: #fff;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .title{
    font-size: 36rpx;
    margin-bottom: 10px;
    font-weight: bold;
  }
  .createtime{
    font-size: 24rpx;
    color: #666;
    margin-bottom: 10px;
  }
  .img-container{
    width: 100%;
  }
}
