.error {
  width: 100%;
  color: red;
  text-align: center;
}

.pickup {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 25px 0;
  .datetime {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 5px;

  }
}
