.container {
  background-color: rgb(245, 246, 249);
  height: 100vh;
  width: 100vw;
  overflow: auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding-bottom: calc(100px + env(safe-area-inset-bottom));
}

.order {
  background-color: #fff;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 15px;
  margin-bottom: 15px;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .left {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      .drive{
        font-size: 30rpx;
        margin-right: 10px;
      }
      .car{
        height: 30rpx;
        line-height: 30rpx;
        font-size: 16rpx;
        padding: 0 5rpx;
        background-color: #eee;
      }
    }

    .right {
      font-size: 26rpx;
      color: #666;
    }
  }

  .content{
    height: 200px;
    font-size: 26rpx;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .detail{
    float: right;
    border: 1px solid #aaa;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 10px 20px;
  }
}
