.vehicle-container {
  background-color: rgb(245, 246, 249);
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.city-address {
  display: flex;
  justify-content: space-around;
  background-color: rgb(242, 247, 245);
  padding: 10rpx 0;

  .city-model {
    width: 50%;
  }

  .address-model {
    flex: 1;
    z-index: 2;
  }

  .city-title,
  .address-title {
    font-size: 24rpx;
    text-align: center;
  }

  .city-content,
  .address-content {
    padding: 10rpx 0;
    font-size: 20rpx;
    text-align: center;
  }
}

// 送还地点 选车
.return-vehicle-box {
  padding-bottom: 10rpx;
  font-size: 24rpx;
  background-color: rgb(242, 247, 245);

  .use-time {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

.col {
  font-size: 24rpx;
  height: 50rpx;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0rpx 0rpx 1rpx rgba(0, 0, 0, 0.03);
}

// 自动撑满
.nut-tabs.vertical {
  flex: 1;
}

.nut-tabs.vertical>.nut-tabs__titles {
  padding: 0 !important;
}

.nut-tab-pane {
  padding: 0 !important;
}

// 车型列表
.vehicle-list {
  box-shadow: 0px 8rpx 16rpx 6rpx rgba(0, 0, 0, 0.05);
  border-radius: 20rpx;
  padding: 10rpx;
  margin-bottom: 15rpx;

  .images-codes {
    display: flex;
    margin-bottom: 10rpx;

    image {
      width: 40%;
      height: 200rpx;
    }

    .codes {
      flex: 1;
      margin-left: 10rpx;

      .code-name {
        font-size: 28rpx;
      }

      .code-special {
        display: flex;
        flex-wrap: wrap;
        margin: 8rpx;

        view {
          font-size: 20rpx;
          color: #666;
        }
      }
    }
  }

  .character {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10rpx;

    view {
      font-size: 20rpx;
      color: #999;
      background-color: rgb(242, 247, 245);
      margin-right: 16rpx;
    }
  }

  .detail-money {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .detail {
      font-size: 20rpx;
      color: #999;
    }

    .money {
      color: red;
      font-size: 24rpx;

      & text:nth-child(2) {
        color: rgba(0, 0, 0, 0.5);
      }

      & text:nth-child(3) {
        color: rgba(0, 0, 0, 0.5);
      }
    }
  }
}
