.vehicle-container {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.address-time {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 85vw;
  margin-left: 7.5vw;
  background-color: rgb(255, 248, 245);
  font-size: 26rpx;
  border-radius: 20rpx;
  border: 1px solid rgb(255, 201, 202);
  padding: 10rpx 0;


  .city-content {
    text-align: center;
    margin-bottom: 15rpx;
  }

  .use-time {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

.col {
  font-size: 24rpx;
  height: 50rpx;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nut-tabs.vertical>.nut-tabs__titles {
  padding: 0 !important;
}

.nut-tab-pane {
  padding: 0 !important;
}

.vehicle-list {
  margin-bottom: 20rpx;
  border-bottom: 1px solid #eee;

  .nut-card .nut-card__left {
    width: 50%;
    height: 200rpx;
  }

  .nut-card .nut-card__right {
    padding-bottom: 0;
  }

  .nut-card .nut-card__right .nut-card__right__title {
    font-size: 22rpx;
  }

  .nut-card .nut-card__right .nut-card__right__other {
    padding: 0;
  }

  .tags1 {
    font-size: 20rpx;
    color: #333;
    margin: 10rpx 0;
  }

  .tags2 {
    font-size: 20rpx;
    color: #999;
  }
}
