.container {
  background-color: rgb(245, 246, 249);
  height: 100vh;
  width: 100vw;
  overflow: auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.vehicleInfo {
  display: flex;
  padding: 20rpx;
  background-color: #fff;
  margin-bottom: 15rpx;
  width: 100%;
  box-sizing: border-box;

  .left {
    margin-right: 20rpx;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .vehicle-model {
      font-size: 30rpx;
      font-weight: 600;
      margin-bottom: 10rpx;
    }

    .orderNumber {
      width: 100%;
      font-size: 20rpx;
      box-sizing: border-box;
      background-color: #fff;
      margin-bottom: 10rpx;
    }

    .vehicle-characteristics {
      font-size: 24rpx;
      color: #666;
      margin-bottom: 10rpx;
    }

    .license-plate {
      border: 1px solid #eee;
      background: linear-gradient(to bottom, #fff 0%, rgb(234, 249, 244) 750% rgb(192, 241, 225) 100%);
      border-radius: 5rpx;
      font-size: 30rpx;
      padding: 10rpx;
    }
  }

  .right {
    flex: 1;
    box-sizing: border-box;
    overflow: hidden;

    image {
      width: 100%;
      height: 100%;
    }
  }
}

.checkboxs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20rpx;
  background-color: #fff;
  margin-bottom: 15rpx;
  width: 100%;
  box-sizing: border-box;

  .checkbox {
    width: 26%;
  }
}

.vehicle-violation {
  display: flex;
  flex-direction: column;
  padding: 20rpx;
  background-color: #fff;
  margin-bottom: 15rpx;
  width: 100%;
  box-sizing: border-box;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20rpx;

    .left {
      font-size: 36rpx;
      font-weight: bold;
    }

    .right {
      color: orange;
    }
  }

  .content {
    padding: 15rpx 0;
    border-radius: 10rpx;
    background-color: rgb(244, 247, 245);
    text-indent: 10rpx;
  }
}

.car-rental-fee {
  padding: 20rpx;
  background-color: #fff;
  margin-bottom: 15rpx;
  width: 100%;
  box-sizing: border-box;

  .fee-cost {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .fee {
      font-size: 36rpx;
      font-weight: bold;
    }

    .cost {
      font-size: 28rpx;
    }
  }

  .basic-fee {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20rpx;

    .title {
      font-size: 26rpx;
      font-weight: bold;
    }

    .left {
      font-size: 26rpx;
    }

    .right {
      font-size: 24rpx;
    }
  }

  .pay-about {
    display: flex;
    justify-content: space-around;
    align-items: center;

    .payMen {
    }

    .payDetail {
    }
  }

  .divider{
    color: #ddd;
  }
}
