.vehicle-container {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.nut-tabs.vertical>.nut-tabs__titles {
  padding: 0 !important;
}

.nut-tab-pane {
  padding: 0 !important;
}

.vehicle-list {
  margin-bottom: 20rpx;
  border-bottom: 1px solid #eee;

  .nut-card .nut-card__left {
    width: 50%;
    height: 200rpx;
  }

  .nut-card .nut-card__right {
    padding-bottom: 0;
  }

  .nut-card .nut-card__right .nut-card__right__title {
    font-size: 22rpx;
  }

  .nut-card .nut-card__right .nut-card__right__other {
    padding: 0;
  }

  .tags1 {
    font-size: 20rpx;
    color: #333;
    margin: 10rpx 0;
  }

  .tags2 {
    font-size: 20rpx;
    color: #999;
  }
}
