.vehicle-container {
  background-color: rgb(245, 246, 249);
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

// 自动撑满
.nut-tabs.vertical {
  flex: 1;
}

.nut-tabs.vertical>.nut-tabs__titles {
  padding: 0 !important;
}

.nut-tab-pane {
  padding: 0 !important;
}

// 车型列表
.vehicle-list {
  box-shadow: 0px 8rpx 16rpx 6rpx rgba(0, 0, 0, 0.05);
  border-radius: 20rpx;
  padding: 10rpx;
  margin-bottom: 15rpx;

  .images-codes-character {
    display: flex;

    image {
      width: 40%;
    }

    .codes-character {
      flex: 1;
      margin-left: 10rpx;

      .codes {
        margin-bottom: 10rpx;
        .code-name {
          font-size: 20rpx;
          margin-bottom: 10rpx;
        }

        .code-special {
          display: flex;
          flex-wrap: wrap;

          view {
            font-size: 18rpx;
            color: #333;
          }
        }
      }

      .character {
        display: flex;
        flex-wrap: wrap;

        view {
          font-size: 18rpx;
          color: #333;
          background-color: rgb(242, 247, 245);
          margin-right: 16rpx;
        }
      }
    }
  }
}
