.container {
  height: calc(100vh - calc(102px + env(safe-area-inset-bottom)));
  width: calc(100% - 6px);
  padding-bottom: calc(100px + env(safe-area-inset-bottom));
  background-color: rgb(245, 246, 249);
  overflow: hidden;
}

.avater-vip-container {
  box-sizing: border-box;
  height: 150px;
  padding: 20px 0 20px 20px;
  display: flex;
  align-items: center;
  background-color: #fff;

  .vip-container {
    margin-left: 30px;
    display: flex;
    justify-content: space-between;
    flex: 1;
    height: 60px;

    .user-name {
      font-size: 30px;
      font-weight: bold;
      margin-bottom: 10px;
    }

    .vip-img {
      width: 44px;
      height: 28px;

      image {
        width: 100%;
        height: 100%;
      }
    }

    .not-vip-img {
      width: 44px;
      height: 28px;

      image {
        width: 100%;
        height: 100%;
      }
    }

  }

  .coin-container {
    align-self: self-start;
    width: 120px;
    height: 50px;
    border-radius: 50rpx 0 0 50rpx;
    background: linear-gradient(101deg, #F4BE44 0%, #ED8734 100%);
    display: flex;
    justify-content: space-around;
    align-items: center;

    image {
      width: 30px;
      height: 30px;
    }

    .text {
      font-size: 24px;
      color: #fff;
    }
  }
}

.menus-container {
  box-sizing: border-box;
  height: calc(100% - 150px);
  padding: 20px;
  background-color: rgb(245, 246, 249);
  overflow-y: auto;

  // 开通vip
  .vip-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 96px;
    color: #fff;
    background-image: url('../../assets/level_bg.png');
    background-position: 50% 50%;
    background-size: cover;
    box-sizing: border-box;
    padding: 15px 20px;
    margin-top: 10px;
    margin-bottom: 20px;

    .image-call {
      display: flex;
      align-items: center;

      image {
        width: 56px;
        height: 56px;
        margin-right: 15px;
      }

      .vip-call {
        color: #fff;
      }
    }

    .vip-open {
      border-radius: 20px;
      background-color: #fff;
      color: #000;
      font-size: 22px;
      box-sizing: border-box;
      padding: 10px 20px;
    }
  }

  // 我的资产
  .my-assets-container {
    border-radius: 20px;
    display: flex;
    align-items: center;
    background-color: #fff;
    height: 130px;
    margin-bottom: 20px;

    .integral-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      flex: 1;
      height: 100%;
    }

    .balance-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      flex: 1;
      height: 100%;
    }

    .coupon-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      flex: 1;
      height: 100%;
    }
  }

  // 车辆管理 订单管理
  .manage-container {
    border-radius: 20px;
    background-color: #fff;
    margin-bottom: 20px;

    .car-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      box-sizing: border-box;
      padding: 20px;

      .image-car {
        display: flex;
        align-items: center;

        image {
          width: 40px;
          height: 40px;
          margin-right: 25px;
        }
      }
    }

    .order-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      box-sizing: border-box;
      padding: 20px;

      .image-order {
        display: flex;
        align-items: center;

        image {
          width: 40px;
          height: 40px;
          margin-right: 25px;
        }
      }
    }
  }

  // 实名认证 隐私管理 服务协议 用户协议 联系平台 客服
  .others-container {
    border-radius: 20px;
    background-color: #fff;

    .order-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      box-sizing: border-box;
      padding: 20px;

      .image-order {
        display: flex;
        align-items: center;

        image {
          width: 40px;
          height: 40px;
          margin-right: 25px;
        }
      }
    }

  }


  .serviceChat-container {
    width: 100%;
    box-sizing: border-box;
    padding:0 20px;
    border: none;

    .nut-button__wrap {
      .icon-container{
        display: flex;
        height: 100%;
        width: 100%;
        align-items: center!important;
        color: #000;
      }
    }

    image {
      width: 40px;
      height: 40px;
      margin-right: 20px;
    }
  }
}
